body {
  font-family: verdana, arial, sans-serif;
}

textarea {
  font-family: monospace;
  position: absolute;
  width: 5%;
  top: 40px;
  bottom: 10px;
  left: 10px;
  height:5% !important;
  right: 10px;
}
